VITE_COMM_API_SAVEDATA_ENDPOINT_URL=http://localhost:3030/saveData
VITE_COMM_API_GENERATE_ENDPOINT_URL=http://localhost:3030/generate
VITE_COMM_API_EDIT_ENDPOINT_URL=http://localhost:3030/edit
VITE_COMM_API_SAVEDATA_ICM_ENDPOINT_URL=http://localhost:3030/saveICMData
VITE_COMM_API_LOADDATA_ICM_ENDPOINT_URL=http://localhost:3030/loadICMData
VITE_COMM_API_UNLOCK_ICM_FORM_URL=http://localhost:3030/clearICMLockedFlag
VITE_COMM_API_LOADSAVEDJSON_ENDPOINT_URL=http://localhost:3030/loadSavedJson
VITE_COMM_API_PDFTEMPLATE_ENDPOINT_URL=http://localhost:3030/pdfTemplate

VITE_TEMPLATE_REPO_URL=http://localhost:3030
VITE_KLAMM_URL=http://localhost:8000

VITE_SSO_REDIRECT_URI=http://localhost:4173

VITE_SSO_AUTH_SERVER_URL=
VITE_SSO_REALM=
VITE_SSO_CLIENT_ID=

VITE_COMM_API_PROXY_TARGET=http://localhost:3030